.group-fb-container {
    position: relative;
    width: 100%;
    margin: 0 auto 40px auto;
    padding: 20px 120px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.group-fb-image {
    position: absolute;
    bottom: 20px;
    width: 367px;
    margin-left: 0px;
}

.group-fb-background {
    width: 100%;
}

@media (max-width: 768px) {
    .group-fb-container {
        padding: 20px 40px;  
        flex-direction: column;  
        align-items: flex-start; 
    }

    .group-fb-image {
        width: 230px;  
        bottom: 20px;  
    }
}

@media (max-width: 480px) {
    .group-fb-container {
        padding: 15px 20px;  
    }

    .group-fb-image {
        width: 120px; 
        bottom: 15px; 
    }
    
}