.group-fb-container {
    position: relative;
    width: 100%;
    margin: 0 auto 40px auto;
    padding: 20px 120px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.group-fb-image {
    position: absolute;
    bottom: 20px;
    width: 367px;
    margin-left: 0px;
}

.group-fb-background {
    width: 100%;
}