.bubbleContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px 0;
}

.right {
  flex-direction: row-reverse;
}

.avatar {
  display: flex;
  width: 50px;
  height: auto;
  margin: 15px 10px;
}

.bubbleBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 65%;
}

.speakerName {
  color: var(--gray-500);
  margin-bottom: 2px;
}

.right .speakerName {
  text-align: right;
  align-self: flex-end;
}

.bubbleContent {
  background-color: var(--white);
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0px 0px 15px rgba(171, 190, 209, 0.5);
  transition: background-color 0.2s ease; 
}

.activeBubble {
  background-color: var(--primary-500);
  color: var(--white); 
}

.dialogueText {
  /* font size b6 */
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Noto Sans TC', sans-serif;
}

.translationText {
  color: var(--gray-500);
  margin-top: 5px;
  visibility: hidden;
}

.showTranslation {
  visibility: visible;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 10px;
  cursor: pointer;
  height: 100%;
  gap: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: var(--gray-500);
}

.icon:hover {
  opacity: 0.7;
}

.soundIcon {
  fill: var(--gray-500);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.soundIcon:hover {
  opacity: 0.7;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

.iconButton .icon,
.iconButton .soundIcon {
  width: 24px;
  height: 24px;
}
