.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  margin: 40px auto;
  margin-top: 120px;
  max-width: 1440px;
}

.thumbnail-container-left {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.thumbnail-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnail-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.large-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 1.4;
  color: #000;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}

.Bluebtn, 
.Subbtn {
  width: 220px; 
  max-width: 100%; 
  padding: 10px 30px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 3px 12px rgba(171, 190, 209, 0.7);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Bluebtn {
  background: linear-gradient(to bottom, #1E98FF 0%, #005BE9 100%);
  color: white;
}

.Bluebtn:hover {
  background: linear-gradient(to bottom, #187cd6 0%, #004bbd 100%);
}

.Subbtn {
  background-color: var(--gray-200);
  color: var(--black);
}

.Subbtn:hover {
  background-color: #e0e0e0;
}

a {
  text-decoration: none;
}

/* ✅ Destop */
@media (max-width: 1024px) {
  .thumbnail-container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 20px;
  }

  .thumbnail-container-left, 
  .thumbnail-container-right {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .large-title {
    font-size: 40px;
  }

  .button-container {
    width: 100%;
  }

  .Bluebtn, 
  .Subbtn {
    width: 220px;
  }
}

/* ✅ Tablet */
@media (max-width: 768px) {
  .thumbnail-container {
    padding: 15px;
    margin-top: 60px;
  }

  .large-title {
    font-size: 32px;
  }

  .button-container {
    width: 100%;
  }

  .Bluebtn, 
  .Subbtn {
    width: 220px;
    padding: 12px;
    font-size: 14px;
  }
}

/* ✅ Mobile */
@media (max-width: 480px) {
  .thumbnail-container {
    margin-top: 40px;
    padding: 10px;
  }

  .large-title {
    font-size: 28px;
  }

  .button-container {
    width: 100%;
  }

  .Bluebtn, 
  .Subbtn {
    width: 220px;
    padding: 10px;
    font-size: 14px;
  }
}
