.lesson-item {
    display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  width: 270px;
  height: 350px;
  text-align: left;
  position: relative;
  align-items: center;
  filter: drop-shadow(0px 0px 15px rgba(171, 190, 209, 0.5));
  cursor: pointer;
}

.lesson-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

.lesson-category.completed {
    background: var(--primary-500);
    color: white;
    padding: 10px 15px;
    height: 35px;
    border-radius: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.lesson-category.doing {
    background: var(--secondary-yellow-500);
    color: white;
    padding: 10px 15px;
    height: 35px;
    border-radius: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.lesson-category.not-started {
    background: var(--gray-500);
    color: white;
    padding: 10px 15px;
    height: 35px;
    border-radius: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.lesson-item-icon.completed {
    background: var(--primary-500);
    color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;  
    align-items: center;  
    justify-content: center; 
    text-align: center;
    border-radius: 30px;
}

.lesson-item-icon.doing {
    background: var(--secondary-yellow-500);
    color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;  
    align-items: center;  
    justify-content: center; 
    text-align: center;
    border-radius: 30px;
}

.lesson-item-icon.not-started {
    background: var(--gray-500);
    color: white;
    padding: 5px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;  
    align-items: center;  
    justify-content: center; 
    text-align: center;
    border-radius: 30px;
}

.lessonItem.not-started {
    filter: grayscale(100%);
}

.lesson-item-icon img{
    height: 20px;
    width: auto;
    filter: invert(1);
}

.lesson-image {
    width: 100%;
    height: auto;
    position: relative;
    bottom: -8px;
    z-index: -1; 
}

.grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .grayscale:hover {
    filter: grayscale(0%);
  }
   

.lesson-content {
    text-align: left;
    width: 100%;
}

.lesson-title {
    text-align: left; 
    width: 100%; 
    margin-left: 0; 
}

.lesson-subtitle {
    line-height: auto;
    font-family: 'Noto Sans TC', sans-serif; 
}

.lesson-description {
 color: var(--gray-500);
}

.lesson-progress {
    background-color: rgba(128, 128, 128, 0.5); 
    z-index: 1;
    min-height: 10px;
    height: 10px;
    width: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.progress-bar {
    background-color: var(--primary-500);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    transition: width 0.5s ease-in-out;
  }

/* ✅ Tablet */
  @media (max-width: 768px) {
    .lesson-item {
        padding: 18px;
        width: 135px;
        height: 175px;
    }

    .lesson-header {
        flex-direction: row;  
        align-items: flex-start;
    }

    .lesson-category.completed,
    .lesson-category.doing,
    .lesson-category.not-started {
    padding: 0 10px;
    height: 20px !important;
}


    .lesson-item-icon,
    .lesson-item-icon.completed,
    .lesson-item-icon.doing,
    .lesson-item-icon.not-started {
        padding: 5px;
        height: 20px;
        width: 20px;
    }

    .icon-svg {
        height: 10px;
    }

    .lesson-title {
        text-align: left; 
        width: 100%; 
        margin-left: 0; 
    }

    .lesson-subtitle {
        
    }

    .lesson-description {
        display: none;
    }

    .lesson-progress {
        min-height: 5px;
        height: 5px;
    }
}

/* ✅ Mobile */
@media (max-width: 480px) {
    .lesson-item {
        padding: 18px;
        width: 135px;
        height: 175px;
    }

    .lesson-header {
        flex-direction: row;  
        align-items: flex-start;
    }

    .lesson-category.completed,
    .lesson-category.doing,
    .lesson-category.not-started {
    padding: 0 10px;
    height: 20px !important;
}


    .lesson-item-icon,
    .lesson-item-icon.completed,
    .lesson-item-icon.doing,
    .lesson-item-icon.not-started {
        padding: 5px;
        height: 20px;
        width: 20px;
    }

    .icon-svg {
        height: 10px;
    }

    .lesson-title {
        text-align: left; 
        width: 100%; 
        margin-left: 0; 
    }

    .lesson-subtitle {
        
    }

    .lesson-description {
        display: none;
    }

    .lesson-progress {
        min-height: 5px;
        height: 5px;
    }
}